h1 {
    color: red;
    text-transform: uppercase;
}

h2 {
    color: blue;
}

h3 {
    text-decoration: underline;
}

.purple {
    color: purple;
}

#title-header {
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    font-family: sans-serif;
}